[Unit]
Description=Scrub ZFS Pool

[Service]
Type=oneshot
ExecStartPre=-/usr/bin/zpool scrub -s %i
ExecStart=/usr/bin/zpool scrub %i
ExecStop=/usr/bin/zpool scrub -s %i
RemainAfterExit=yes
Requires=zfs.target
After=zfs.target
